/* main text color rgba(0, 0, 0, 0.8); */
/* secondary text color #000000 */
/* white color #FFFFFF */
/* accent color #18A0FB */
/* secondary bgcolor #F5F5F5 */

:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-text-color: #18a0fb;
  --primary-white-color: #ffffff;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.logo {
  color: var(--title-text-color);
}

.logo:hover,
.logo:focus {
  color: var(--accent-text-color);
}

/* Site nav */

.site-nav .link {
  color: var(--accent-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}

.site-nav .link.current {
  color: var(--title-text-color);
}

.list {
  list-style: none;
}

/* Hero section */

.hero-title {
  color: var(--title-text-color);
}

/* Section */

.section-title {
  color: var(--title-text-color);
}

/* Features section */

.feature-list .title {
  color: var(--title-text-color);
}

/* Examples section */

.work-list .title {
  color: var(--title-text-color);
}

/* Button */

.button {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
}

.button.secondary {
  color: var(--accent-text-color);
  background-color: var(--primary-white-color);
}
